@charset "utf-8";

@import "./constant";
@import "mixins";

* {
  @include prefix(box-sizing, border-box)

}

html, body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  height: 100%;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul, ol, li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.left {
  float: left;
}
.right {
  float: right;
}

.clearfix::after, .clearfix::before {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}

// elm
.router-link-active {
  color: $active-text-color;
}

/*
模块样式
*/

.header {
  margin-top: -$header-height;
  background-color: $header-background-color;
  color: $header-font-color;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  >div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $header-height;
    &:first-child {
      border-right: solid .2rem #ffd04b;
    }
    &:last-child {
      border-left: solid .2rem #ffd04b;
    }
  }
  h1 {
    font-size: 1.8rem;
  }
  a {
    font-weight: 700;
    margin-left: 2rem;
    &:first-child{
      margin-left: 0;
    }
  }
}

.chartContainer {
}
